* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.app {
    width: 100vw;
    height: 122vh;
    background-image: url(/photos/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    max-width: 3000px;
    height: 72px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 166px;
}

.nav-bar-left {
    display: flex;
    gap: 32px;
    align-items: center;
    padding: 16px 20px 0px 20px;

}

.nav-bar-abt {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #18191f;
    text-decoration: none;
    
}

.nav-link {
     list-style: none;
}

.nav-bar-right {
    display: flex;
    gap: 12px;
    align-items: center;
}

.hero2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px;
    padding: auto 20px; 
}

.hero-part1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 70px;
    gap: 32px;
}

.heading {
    font-family: 'Inter';
     font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    color:  #18191F;
    width: 730px;
    height: 196px;
}

.button {
    padding: 12px 32px;
    width: 154px;
    height: 48px;
    background: #8C30F5;
    border-radius: 6px;
    color: #fff;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}